<!DOCTYPE html>
<html lang="en">
<head>
    <title>Error Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="background-color: #343a40">

<div class="d-flex justify-content-center align-items-center" style="height:100px;">
    <h1 style="color: #ffffff">Something went wrong...</h1>
</div>

<div>
    <a  class="d-flex justify-content-center align-items-center" href="/"></a>
</div>


</body>
</html>